<app-index> </app-index>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


<div class="container mt-4">
  <div class="row">
    <div class="col-sm-7 text-black">
        <h1> ¿Que es un hackathon? </h1>

        <p> La palabra hackathon es una combinación de las palabras “hack” y “marathon”.
          <br><br>
          Cada año tenemos un evento importante llamado Hackathon, maratón de creación en donde pueden participar ingenieros,
          programadores, diseñadores, comunicadores, analistas de datos y más perfiles. </p>

        <p> El objetivo principal es ejecutar retos en movilidad en taxi en menos de tres días. </p>
    </div>
    <div class="col-sm-5 text-white">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="https://mintic.gov.co/micrositios/hackathon/781/articles-176548_video.jpg" alt="Card image" style="width:100%">
      </div>
      <br>
    </div>
  </div>
</div>

<div class="container">
  <h1>¿Por qué participar en el Hackathon?</h1>
  <div class="row">
    <div class="col-sm-6 text-black">
      <h2>Empresas digitales buscarán talento</h2>

      <p>Las compañías que participan en el Hackathon buscarán entre los perfiles participantes su próximo fichaje.
        Quién consiga pasar a la segunda fase de la competición podrá entrevistarse con estas empresas.</p>

    </div>

    <div class="col-sm-6 text-black">
      <h2>Conocer a expertos del sector</h2>

      <p>
        Representantes del sector, tanto de las empresas participantes como de otras, asistirán al Hackathon para asesorar a
        todos los participantes en la resolución de sus retos.
      </p>
    </div>
    <div class="col-sm-6 text-black">
      <h2>Empresas digitales buscarán talento</h2>

      <p>Conocer a talento y generar sinergias para desarrollar nuevos proyectos. Trabajar en equipo os permitirá
        conectar y encontrar nuevas oportunidades..</p>

    </div>

    <div class="col-sm-6 text-black">
      <h2>Divertirse</h2>

      <p>
        los hackathons son sinónimo de diversión. Sí, serás retado y sí, te estresarás en algún momento, pero podrás disfrutar de cada
        minuto de ella.
      </p>
    </div>
  </div>
  <h3>Si aún no te has decidido a participar en una hackaton, dale una oportunidad. La verdad, no te arrepentirás....</h3>
</div>
