<app-index> </app-index>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm-7 mt-4 text-black">
      <h1>Seguridad</h1>
        <p>Incorporamos tecnología para hacer cada viaje más seguro. Además, tomamos acciones para mitigar el contagio de Covid-19.</p>

      <h1> Validación con tecnología biométrica </h1>
        <p>Identificamos a los aliados conductores realizando reconocimiento facial y dactilar para viajes más seguros. </p>
    </div>
    <div class="col-sm-5 mt-4 text-white">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="https://www.taxislibres.com.co/public/imagesNew/images-nosotros/seguridad.webp" alt="Card image" style="width:100%">
      </div>
    </div>

    <div class="col-sm-5 mt-4 text-white">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="https://www.taxislibres.com.co/public/imagesNew/images-nosotros/medio-ambiente.webp" alt="Card image" style="width:100%">
      </div>
    </div>
    <div class="col-sm-7 mt-4 text-black">
      <h1>Medio ambiente</h1>
        <p>Tomamos medidas para reducir las emisiones de CO2 y contribuir a mejorar la calidad del aire en las ciudades.</p>


      <h1> Validación con tecnología biométrica </h1>
        <p>Identificamos a los aliados conductores realizando reconocimiento facial y dactilar para viajes más seguros. </p>
    </div>
  </div>
</div><br><br>

