<app-index> </app-index>

<div class="container mt-4" style="background-color: #f5f5f5">
  <h1>¿Quién puede participar?</h1>
  <p> ¡Todos! No necesitas ningún conocimiento específico para competir en la Hackatón taxis libres, únicamente ganas de pensar
    soluciones de manera colaborativa y un interés en los desafíos enfrentados por la comunidad de personas. Dado que el evento es
    virtual, esto quiere decir que tampoco hay limitaciones geográficas para que participes. La única
    condición es que los competidores deben tener 18 años de edad o más. </p>

  <h1>¿Qué significa open source?</h1>
  <p>Significa que el código fuente o instrucciones de cualquier tipo de un diseño están disponibles al público para que cualquiera
    tenga la oportunidad de entenderlo, replicarlo y modificarlo. También se dice código abierto.</p>

  <h1>¿Por qué querría desarrollar de manera open source?</h1>
  <p> Al desarrollar de manera open source, tu trabajo está disponible para ser corroborado y mejorado por una comunidad mundial de
    expertos de todo tipo y contribuyes a una cultura de transparencia.</p>

  <h1>¿Cuánto debo pagar para participar?</h1>
  <p> El registro y el evento es gratuito y libre, no debes cancelar inscripción o algún derecho para participar. Siéntete libre de
    inscribirte e invitar a más interesados a hacerlo.</p>

  <h1>¿Qué necesito llevar al hackathon?</h1>
  <p> Tu computadora portátil, tus dispositivos, tus cables, la mente inquisitiva y crítica,  pasión por resolver problemas de
    mesoamérica y tu deseo de contribuir a mapear juntos un futuro mejor. Puedes encontrar la ciudad más cercana visitando la
    pestaña de locaciones en nuestro sitio web. </p>

  <h1>¿Cuáles son las categorías que se van a manejar?</h1>
  <p>Solo existe una categoría para personas que vienen a implementar una idea dentro de la Hackathon lo que implica que la idea la
    implementación de la idea inicia en el evento con el trabajo colaborativo del equipo.</p>

  <h1>¿Con qué herramientas, aplicaciones o técnicas lo pueden o deben hacer?</h1>
  <p>Los participantes pueden utilizar cualquier herramienta digital que les permita prototipar o mostrar la solución de la mejor
    manera posible. Se pueden utilizar herramientas de código abierto o herramientas que tengan los participantes debidamente
    licenciados.</p>
</div>







